body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Header*/
nav {
  height: 30px;
  background-color: brown;
  margin: 20px;
  width: 30px;
  visibility: hidden;
}

header {
  height: 100px;
  background-color: brown;
  margin: 20px;
  display: flex;
}

.photo{
  background-color: brown;
  height: 100px;
  margin: 20px;
}


/*Expériences*/

#experiences {
  height: 100px;
  background-color: rgb(1, 5, 9);
  margin: 20px;
}

/*Certificates*/

#certificates {
  height: 100px;
  background-color: rgb(235, 152, 75);
  margin: 20px;
}
/*Footer*/
footer {
  background-color: rgb(85, 81, 81);
  height: 100px;
  margin: 20px;
}


@media screen and (max-width: 768px) {

  header {
    background-color: rgb(47, 54, 107);
    width: 400px;
  }

  .photo{
    background-color: rgb(46, 12, 12);
    width: 400px;
  }
  #experiences {
    background-color: rgb(172, 150, 150);
    width: 400px;
  }
  #certificates {
    background-color: rgb(233, 156, 156);
    width: 400px;
  }
  footer {
    background-color: rgb(238, 6, 6);
    width: 400px;
  }
}

