body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Header*/
nav {
  height: 30px;
  background-color: brown;
  margin: 20px;
  width: 30px;
  visibility: hidden;
}

header {
  height: 100px;
  background-color: brown;
  margin: 20px;
  display: flex;
}

.photo{
  background-color: brown;
  height: 100px;
  margin: 20px;
}


/*Expériences*/

#experiences {
  height: 100px;
  background-color: rgb(1, 5, 9);
  margin: 20px;
}

/*Certificates*/

#certificates {
  height: 100px;
  background-color: rgb(235, 152, 75);
  margin: 20px;
}
/*Footer*/
footer {
  background-color: rgb(85, 81, 81);
  height: 100px;
  margin: 20px;
}


@media screen and (max-width: 768px) {

  header {
    background-color: rgb(47, 54, 107);
    width: 400px;
  }

  .photo{
    background-color: rgb(46, 12, 12);
    width: 400px;
  }
  #experiences {
    background-color: rgb(172, 150, 150);
    width: 400px;
  }
  #certificates {
    background-color: rgb(233, 156, 156);
    width: 400px;
  }
  footer {
    background-color: rgb(238, 6, 6);
    width: 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    background-color: rgb(47, 54, 107);
    width: 600px;
  }

  .photo{
    background-color: rgb(118, 75, 75);
    width: 600px;
  }
  #experiences {
    background-color: rgb(109, 92, 92);
    width: 600px;
  }
  #certificates {
    background-color: rgb(75, 92, 118);
    width: 600px;
  }
  footer {
    background-color: rgb(75, 118, 79);
    width: 600px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    flex-direction: row;
    flex-wrap: wrap;
    
}

  header {
    background-color: rgb(107, 47, 89);
    width: 500px;
  }
  .photo{
    background-color: rgb(163, 56, 56);
    width: 500px;
  }
  #experiences {
    background-color: rgb(118, 75, 88);
    width: 500px;
  }
  #certificates {
    background-color: rgb(91, 118, 75);
    width: 500px;
  }
  footer {
    background-color: rgb(118, 112, 75);
    width: 500px;
  }
}

@media screen and (min-width: 1200px) {

  header {
    display: flex;
    width: 1000px;
    background-color: rgb(107, 58, 47);
    flex-direction: row-reverse;
    height: 200px;
  }

  .photo{
    background-color: rgb(105, 93, 93);
    width: 1000px;
  }
  #experiences {
    background-color: rgb(77, 118, 75);
    width: 1000px;
  }
  #certificates {
    background-color: rgb(75, 118, 98);
    width: 1000px;
  }
  footer {
    background-color: rgb(92, 75, 118);
    width: 1000px;
  }
}